* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #000;
}

ul, ol {
    display: flex;
    list-style-type: none;
}

.manual-padding-on-top::before {
    display: block;
    content: "";
    width: 100%;
    height: 65px;
    margin: -65px 0 0;
    z-index: -1;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
}

header {
    background: #fff;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    font-family: 'Baloo 2', cursive;
}

header ul {
    width: 300px;
    justify-content: space-around;
    
}

header a {
    padding: 10px 5px;
    text-decoration: none;
    color: #55afa6;
}

header a:hover {
    background: #55afa6;
    color: #fff;
}

.wrapper {
    position: relative;
    padding-top: 65px;
    width: 1000px;
    margin: 0 auto;
}

.content-title {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 32px;
    font-family: 'Baloo 2', cursive;
    color: #fff;
}

.triangle-right, .triangle-left {
    width: 100%;
    height: 65px;
    position: absolute;
}

.triangle-left::after {
    content: ''; 
    position: absolute; 
    left: 0;
    bottom: 0;
    border: 65px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 1000px solid #55afa6;
}

.triangle-right::after {
    content: ''; 
    position: absolute; 
    left: 0;
    bottom: 0;
    border: 65px solid transparent;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 1000px solid #fff;
}

/* ABOUT ME PART */
#about_me {
    font-family: 'Oswald', sans-serif;
    background: #fff;
    position: relative;
}

.my-photo {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.row-content {
    display: flex;
    align-items: stretch;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.background-color {
    background: #9ddcd7;
}

.personal-info {
    margin-left: 20px;
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 5px 20px 20px;
}

.personal-info h1 {
    font-size: 24px;
}

.personal-info h2 {
    font-size: 22px;
    color: #55afa6;
    margin-bottom: 20px;
}

.personal-info h3,  .personal-info h4, .personal-info h5{
    font-size: 16px;
    font-weight: normal;
}

#about_me p {
    padding: 20px 10px;
}

.title-block {
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
}


#about_me li {
    margin: 5px 10px;
}

#about_me ul {
    flex-wrap: wrap;
}

#about_me ul li {
    width: max-content;
    padding: 7px 10px;
    background: #55afa6;
    color: #fff;
    border-radius: 10px;
}

#about_me ol {
    flex-direction: column;
    width: max-content;
}

#about_me ol a {
    font-family: 'Fjalla One', sans-serif;
    color: #55afa6;
    text-decoration: none;
}

/* PORTFOLIO */

#portfolio {
    margin-top: -65px;
    min-height: 450px;
}

.portfolio-list {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    display: block;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    box-shadow: -1px 1px 19px 0px rgba(255,255,255,0.35);
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio-item .item-name {
    position: absolute;
    width: 100%;
    padding: 10px;
    background-color: #9ddcd7;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.portfolio-item:hover img {
    filter: grayscale(74%);
}

.portfolio-item:hover .item-name {
    background-color: #fff;
    color: #9ddcd7;
}

/* PORTFOLIO END */

/* FEEDBACK */
#feedback {
    margin-top: -65px;
    /* min-height: 450px; */
}

#feedback .content-title {
    position: absolute;
}

.feedback-container {
    margin-top: 65px;
    padding-top: 20px;
    min-height: 300px;
    width: 100%;
    background: #55afa6;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
}

.feedback-container a {
    text-decoration: none;
    color: #fff;

}

.feedback-container fieldset {
    margin-left: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback-container label {
    font-size: 18px;
    color: #fff;
}

.feedback-container input[type='email'] {
    padding: 10px 5px;
    min-width: 300px;
    font-size: 16px;
    margin-top: 10px;
    outline: none;
}

.feedback-container input[type='checkbox'] {
    margin-right: 10px;
}

.submit-form-container {
    width: 400px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.submit-form-container .row {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.submit-form-container .row a {
    color: #000;
}

.submit-form-container input[type='submit'] {
    padding: 10px 5px;
    background: #fff;
    color: #55afa6;
    font-size: 20px;
    width: 300px;
}